@font-face {
  font-family: "Lato GOG Latin";
  font-weight: 600;
  font-style: normal;
  src: url(/assets/LatoLatin-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Lato GOG Latin Semi-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/LatoLatin-Semibold.woff2) format("woff2");
}

@font-face {
  font-family: "Lato GOG Latin Bold";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/LatoLatin-Bold.woff2) format("woff2");
}

body {
  font-family: "Lato GOG Latin Semi-Bold", Fallback, sans-serif;
  background-color: #d8d8d8;
  font-size: 16px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-custom {
  background-color: #2c2c2c;
  font-size: 14px;
  /* max-height: 52px; */

  min-height: 6vh;

  box-shadow: 0 1px 2px 1px rgb(139, 139, 139, 0.5);
  padding-left: 52px;
  padding: auto;
  opacity: 0.95;
}

.navbar-nav > li {
  padding-left: 11px;
  padding-right: 11px;
  color: rgb(212, 212, 212);
}

.navbar-nav > li > a {
  color: #bababa;
  font-family: "Lato GOG Latin Bold", Fallback, sans-serif;
}

.topbar {
  line-height: 16px;
  font-size: 16px;
}

.goglogo {
  color: white;
}

.carousel {
  padding-left: 8px;
  padding-right: 8px;
  max-height: 460px;
}
.carousel-inner {
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px rgb(182, 182, 182);
}

.carousel-indicators {
  position: unset;
  margin-top: 15px;
}

.carousel-indicators li {
  background-color: black;
  height: 1px;
  width: 40px;
}

.cyberpunk {
  color: black;
  position: absolute;
  bottom: 15px;
  left: -130px;
}

.cyberlogo {
  height: 115px;
  position: absolute;
  bottom: 250px;
  right: 530px;
}

.price {
  position: absolute;
  bottom: -13px;
  right: -130px;
}

.addbtn {
  background-color: #a5d23f;
  color: white;
  height: 50px;
  width: 185px;
  margin-left: 35px;
  font-size: 20px;
  font-family: "Lato GOG Latin Bold", Fallback, sans-serif;
  box-shadow: 0 1px 5px 1px rgb(75, 75, 75);
}

.cards {
  padding-left: 8px;
  padding-right: 8px;
}

.customcard {
  background-color: #ececec;
  font-family: "Lato GOG Latin", Fallback, sans-serif;
  font-size: 14px;
  color: #666666;
  max-height: 80px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.customcard:hover {
  background-color: #b9b9b9;
}

.cardbigbody {
  background-color: #ececec;
  font-family: "Lato GOG Latin", Fallback, sans-serif;
  font-size: 14px;
  color: #666666;
  height: 82px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.cardsmall {
  max-width: 280px;
  margin: auto;
}

.midtext {
  font-family: "Lato GOG Latin", Fallback, sans-serif;
  font-size: 14px;
  color: #474747;
  text-align: left;
}

.midrow {
  height: 70px;
}

.midcol {
  padding-top: 13px;
}
.midcol2 {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 0px;
  border-left: 1px solid rgb(145, 145, 145);
}

.midcol2 p {
  font-family: "Lato GOG Latin Bold", Fallback, sans-serif;
  color: rgb(136, 79, 177);
}

.footer1 {
  background-color: #262626;
  height: 60px;
}

.footer1inner {
  color: white;
  display: flex;
  padding: 17px;
  justify-content: space-between;
}
.footer2 {
  background-color: #2f2f2f;
  height: 95px;
  box-shadow: 0 20px 5px 8px rgb(0, 0, 0);
}
.footer3 {
  background-color: #262626;
  height: 60px;
  padding: 17px;
}

.links {
  font-family: "Lato GOG Latin", Fallback, sans-serif;
  color: #d5d5d5;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  padding-left: 15px;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: grey;
  flex-wrap: wrap;
}

.whatsgood {
  padding-left: 15px;
  padding-right: 15px;
}
.pricetext {
  color: black;
  font-family: "Lato GOG Latin Bold", Fallback, sans-serif;
  font-size: 16px;
}

.overlay1 {
  filter: grayscale(0.5) blur(2px);
}

.overlay2 {
  filter: blur(2px);
}
